<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466996665553-9p2jafetttf4lo94ss37v2suhq5kmvsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466996665553-9p2jafetttf4lo94ss37v2suhq5kmvsf</string>
	<key>API_KEY</key>
	<string>AIzaSyC-uLO2WvGogbH3GRAYB23oARiRQxTFKGg</string>
	<key>GCM_SENDER_ID</key>
	<string>466996665553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTestApp</string>
	<key>PROJECT_ID</key>
	<string>market-place-app-e8464</string>
	<key>STORAGE_BUCKET</key>
	<string>market-place-app-e8464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466996665553:ios:4c73ac2b88081c63a539f0</string>
</dict>
</plist>